*.lib
*.exp
*.pdb
*.cmd
*.log
*.ilk
*.iobj
*.ipdb
*.db
*.user
*.opendb
*.psess
*.vsp

/codeliteproj/.codelite
/codeliteproj/Debug
/codeliteproj/Release

/vcproj/Debug
/vcproj/x64
/vcproj/Release
/vcproj/.vs